.fit {
  background-color: #111111;
  color: #c5c5c5;
  font-size: 15px;
  height: 100%;
  padding-bottom: 80px;
  position: relative;
  width: 100%;
}

.fitName {
  top: 35px;
  position: absolute;
  left: 0px;
}

.fitNameTitle {
  font-weight: bold;
}

.cpuPg {
  bottom: 0px;
  position: absolute;
  right: 0px;
  text-align: right;
}

.cpuPgTitle {
  font-weight: bold;
  margin-top: 15px;
}

.cargoHold {
  bottom: 0px;
  left: 0px;
  position: absolute;
}

.history {
  bottom: 0px;
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.cargoIcon {
  display: inline-block;
}
.cargoText {
  display: inline-block;
  margin-top: 5px;
  text-align: right;
}
.cargoPostfix {
  display: inline-block;
  margin-left: 5px;
}

.droneBay {
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.droneBayOverlay {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 10px;
  width: 350px;
  z-index: 101;
}
.droneBayVisible {
  display: block;
}

.empty {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
}
